.wrapper-primary {
     width: 100%;
     // max-width: 980px;
     margin: 0 auto;
     padding: 0 1rem;
}
.wrapper-medium {
     width: 100%;
     max-width: 800px;
     margin: 0 auto;
     padding: 0 1rem;
}
.wrapper-xsmall {
     width: 100%;
     max-width: 500px;
     margin: 0 auto;
     padding: 0 1rem;
}