* {
     box-sizing: border-box;
}
html {
     font-family: $fontFamily;
}
body {
     min-height: 100vh;
}
#__nuxt {
     display: flex;
     flex-direction: column;
     height: calc(100vh - 75px);
}
main {
     flex: 1;
}