* {
     box-sizing: border-box;
}
html {
     font-family: $fontFamily;
     font-size: 16px;
}
body {
     background-color: #cecece2f;
}
#__nuxt {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}
main {
     display: flex;
     flex-direction: column;
     flex: 1;     
     padding: 0 18px;
}
