@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Light.eot');
    src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Light.woff2') format('woff2'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Light.woff') format('woff'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf') format('truetype'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Light.svg#SpaceGrotesk-Light') format('svg');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Regular.eot');
    src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Regular.woff2') format('woff2'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Regular.woff') format('woff'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Regular.ttf') format('truetype'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Regular.svg#SpaceGrotesk-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Medium.eot');
    src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Medium.woff2') format('woff2'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Medium.woff') format('woff'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Medium.ttf') format('truetype'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Medium.svg#SpaceGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-SemiBold.eot');
    src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-SemiBold.woff2') format('woff2'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-SemiBold.woff') format('woff'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-SemiBold.ttf') format('truetype'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-SemiBold.svg#SpaceGrotesk-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Bold.eot');
    src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Bold.woff') format('woff'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Bold.ttf') format('truetype'),
        url('~/assets/fonts/space-grotesk/SpaceGrotesk-Bold.svg#SpaceGrotesk-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
  }
  
  